*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: sans-serif;
    background-color: #aaa;
}



.header{
    box-sizing: border-box;
    height: 50vh;
    box-sizing: border-box;
    background-image: url(../images/design1_image1.jpg);
    background-size: 1200px;
    min-width: 100%; 

}

.header_item-container{
    position: relative;
    z-index: 10;
    text-align: end;
    height: 100%;

}

.header_overlay{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}


h1{
    font-size: 30px;
    text-align: center;
    margin: 12px;

}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;



}
.nav_item{
    border: 2px solid #000;
    text-decoration: none;
    padding: 2px;
    width: 100px;
    margin-right: 3px;
    background-color: #48e;
    color: #ededed;
    box-shadow: 0px 0px 8px #000;
    text-align: center;


}
.header h2 {
    background: #000;
    text-align: center;
    color: #fff;

}
.nav_item:first-child{
    background-color: #385;
    
}

#nav-item{
    background-color: #48e;

}
.nav-link{
    background-color: #385;
    border: 2px solid #000;
    text-decoration: none;
    padding: 2px;
    margin-right: 3px;
    color: #ededed;
    box-shadow: 0px 0px 5px #000;


}




.nav_item:hover , .nav-link:hover{
    border: 1px solid #000;

}


.aside{
    display: flex;
    height: 100vh;


}
.aside_logo{
    width: 160px;
    align-self: center;

}
.main_container{
    position: absolute;
    left: 200px;
    top: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    height: 80vh;

}

h3{
    padding: 5px;
}


