*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body{
    font-family: sans-serif;
    background-color: #babe;

}


.header{
    box-sizing: border-box;
    height: 50vh;
    box-sizing: border-box;
    background-image: url(../images/design1_image1.jpg) ;
    background-size: cover;
    margin: auto;
    width: clamp(500px,100%,1000px);
    border-radius:10px;



    

}
.header_item-container{
    position: relative;
    z-index: 10;
    height: 100%;
    max-width: 100%;




}
.header_overlay{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}

h1{

    font-size: 30px;
    text-align: center;
    margin: 12px;

    
    
}
.nav-bar{
    position: sticky;
    top: 0;
    border:  none;
    background-color: #fff;

}

.nav_item{
    padding: 2px;
    margin-right: 3px;
    color: #ededed;
    box-shadow: 0px 0px 5px #000;
    color: #AE49AE;
    text-decoration: none;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 20px;
    transition: 0.3s,border-radius 0.3s,outline 0.3s,outline-offset 0.3s;
    margin: 2px;
    outline:0 ;
    outline-offset: 0;





}

.nav_item:hover{
    background-color: #AE49AE99;
    border-radius: 20px;
    outline: 2px solid #AE49AE99;
    outline-offset: -8px;

    
}
.nav-link{
    padding: 2px;
    margin-right: 3px;
    color: #ededed;
    box-shadow: 0px 0px 5px #000;
    color: #AE49AE;
    text-decoration: none;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 20px;
    transition: 0.3s,border-radius 0.3s,outline 0.3s,outline-offset 0.3s;
    margin: 2px;
    outline:0 ;
    outline-offset: 0;
    
}
.nav-link:hover{
    background-color: #AE49AE99;
    border-radius: 20px;
    outline: 2px solid #AE49AE99;
    outline-offset: -8px;

}


.header h2 {
    padding: 5px;
    border-radius: 25px;
    width: 30%;
    background-color: #ae49ae99;
    animation-name: llenar-barra;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    text-align: center;
    margin: auto;


}


.aside{
    position: absolute;
top: 50px;
right: 170px;
z-index: 10;
max-width: 80px;

}
.aside_img{
    width: 50px;
}

.main_container{
    position: absolute;
    left: 190px;
    top: 425px;
    margin: auto;
    width: 70%;
    margin: auto;



}
h3{
    padding: 5px;
}

@keyframes llenar-barra{
    from{
        width: 50%;
        background-color: rgb(146, 120, 212);
    }
    to{
        width: 100%;

    }
}