*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: sans-serif;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}


/*-----HEADER SECTION------*/

.header{
    box-sizing: border-box;
    height: 50vh;
    width: 100%;
    min-width: 100%; 
    box-sizing: border-box;
    background-image: url(../images/design1_image1.jpg);
    background-size: 1200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;



}

.header_item-container{
    position: relative;
    z-index: 10;
    text-align: end;
    height: 100%;

}

.header_overlay{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}


h1{
    font-size: 30px;
    text-align: center;
    margin: 12px;

}

/*--------NAV SECTION(dentro del header)--------*/


.nav{
    display: flex;
    justify-content: end;
    width: 100%;
    min-height: 20px;



}


/*.nav__ul{
    display: flex;
    justify-content: end;
    gap: 3px;
    width: 100%;
    min-height: 20px;
    
}

.item{
    list-style: none;

}*/

.nav_item{
    border: 2px solid #000;
    text-decoration: none;
    background-color: #48e;
    color: #ededed;
    box-shadow: 0px 0px 8px #000;
    border-radius: 8px;
    padding: 2px;
    text-align: center;





}


/*.nav_item:first-child{
    background-color: #385;
    
}
.navlink{
    background-color: #385;
}

#nav-item{
    background-color: #48e;

}*/
.nav-link{
    background-color: #385;
    border: 2px solid #000;
    text-decoration: none;
    padding: 2px;
    color: #ededed;
    box-shadow: 0px 0px 5px #000;
    border-radius: 8px;
    text-align: center;
}




.nav_item:hover , .nav-link:hover{
    border: 1px solid #000;

}

.header h2 {
    background: #000;
    text-align: center;
    color: #fff;

}

/*-----HEADER SECTION ENDS------*/


/*-----ASIDE AND MAIN SECTION------*/


.main__wrapper{
    display: flex;
    margin-top: 100px;
    margin-bottom: 10px;
    min-height: 50vh;
    width: 100%;
}
.main__wrapper aside{
    flex-grow: 1;
}

.aside{
    max-width: 150px;
}

.aside_logo{
    width: 80px;

}

.main__wrapper main{
    margin-left: 25px;
}



/*------FOOTER SECTION-----*/

footer{
    background-color: #333;
    color: #fff;
    padding: 25px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

/*------FOOTER SECTION ENDS-----*/


@media screen and (max-width:430px){

    .nav{
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        animation: nav-movement both;
        animation-timeline: scroll();
        animation-range: cover 20%  cover 40%;
    }

    .aside_logo{

        position: absolute;
        top: 38px;
        right: 0;
        width: 50px;


    }

}

@media screen and (min-width:768px){
    .nav{
        gap: 10px;

    }


    .aside{
        object-fit: cover;
        height: 0;
        position: absolute;
        right: 100px;


    }

    .aside_logo{
        width: 200px;
        height: 200px;

    }

    .main{
        width: 60vw;
        padding: 30px;
    }

    h2{
        font-size: 30px;
    }

    p{
        font-size: 20px;
    }
}


@keyframes nav-movement{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;

    }
}